USE [bi_analitycs]
GO
/****** Object:  Table [dbo].[ot_dalton_country]    Script Date: 4/12/2025 10:52:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ot_dalton_country](
	[Column 0] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ot_dalton_country] ([Column 0]) VALUES (N'809')
INSERT [dbo].[ot_dalton_country] ([Column 0]) VALUES (N'P0091174')
INSERT [dbo].[ot_dalton_country] ([Column 0]) VALUES (N'P0091175')
GO
